@model Beauty.Models.Item
<style>
    body {
        background: url('/Images/Items/fon2.jpg') center center fixed;
        background-size: cover;
        color: black;
        display: flex;
        flex-direction: column;
    }
</style>
<h1>Изменение товара</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Title">Название</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Описание</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price">Цена</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">Категория</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.Category" class="form-control">
            <option value="">Выбрать категорию</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>

<a asp-action="Index">Назад к списку товаров</a>