@model Beauty.ViewModels.BServiceViewModel

<h2>Create</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Time" class="control-label"></label>
        <input asp-for="Time" class="form-control" />
        <span asp-validation-for="Time" class="text-danger"></span>
    </div>  
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TypeServiceId" class="control-label">Категория</label>
        <select asp-for="TypeServiceId" class="form-control" asp-items="@ViewBag.TypeService">
            <option>
                Выбрать категорию
            </option>
        </select>


        <span asp-validation-for="TypeServiceId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageFile" class="control-label">Картинка</label>
        <input type="file" name="ImageFile" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>