@{
    ViewData["Title"] = "Payment Success";
}

<h1>Оплата прошла успешно</h1>

<p>Спасибо за ваш заказ! Заказ зарегистрирован и скоро к вам приедет.</p>

<!-- Дополнительные детали заказа, если необходимо -->
<!-- Например, отображение номера заказа, суммы и т. д. -->

<p>
    <a asp-controller="Home" asp-action="Index">Каталог</a>
</p>

