@model Beauty.Models.Master

<style>
    body {
        background: url('/Images/Items/fon2.jpg') center center fixed;
        background-size: cover;
        color: black;
        display: flex;
        flex-direction: column;
    }
</style>

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TypeServiceId" class="control-label">Категория</label>
        <select asp-for="TypeServiceId" class="form-control" asp-items="@ViewBag.TypeService">
            <option>
                Выбрать категорию
            </option>
        </select>


        <span asp-validation-for="TypeServiceId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>